@model LabProject.Models.CastMember

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати</h1>
<a asp-action="Index"> <input type="submit" value="До списку кіновиробництва" class="btn btn-outline-info mt-2" /></a>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CastMemberId" />
            <div class="form-group">
                <label asp-for="CastMemberFullName" class="control-label"></label>
                <input asp-for="CastMemberFullName" class="form-control" />
                <span asp-validation-for="CastMemberFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-info mt-3" style="font-size:18px" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
