@model IEnumerable<LabProject.Models.CastMember>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Кіновиробництво</h1>

<p>
    <a asp-action="Create"> <input type="button" value="Додати людину" class="btn btn-info disabled mt-2 mb-3" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CastMemberFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CastMemberFullName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CastMemberId"> <input type="button" value="Редагувати" class="btn btn-outline-info" /></a>
                    <a asp-action="Delete" asp-route-id="@item.CastMemberId"> <input type="button" value="Видалити" class="btn btn-outline-info" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
