@model IEnumerable<LabProject.Models.Genre>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <form asp-action="ConfirmGenre">
                    <input type="hidden" name="genreId" value="@item.GenreId" />
                    <input type="hidden" name="movieId" value="@ViewBag.MovieId" />
                <button type="submit">Confirm</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
