@model LabProject.Models.Session

@{
    ViewData["Title"] = "Edit";
}

<div>
<h1>Редагувати сеанс</h1>
    <a href="@Url.Action("Details", "Halls", new { id = Model.HallId})"> <input type="submit" value="До списку сеансів" class="btn btn-outline-info mt-2" /></a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SessionId" />
            <div class="form-group">
                <label asp-for="SessionNumber" class="control-label"></label>
                <input asp-for="SessionNumber" class="form-control" />
                <span asp-validation-for="SessionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDateTime" class="control-label"></label>
                <input asp-for="SessionDateTime" class="form-control" />
                <span asp-validation-for="SessionDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.HallId" name="HallId" />
            <div class="form-group">
                <input type="submit" value="Зберегти зміни" class="btn btn-info mt-3" style="font-size:18px" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
